<div class="flex flex-col prose items-center justify-center  mx-auto my-6">
    <span class="text-xl">Vue Manager: {{user.label}}</span>
</div>

<mbsc-eventcalendar [data]="(events$| async) || []" [options]="eventSettings" [(selectedDate)]="calendarSelectedDate"
    [eventContentTemplate]="eventTemplate" [labelTemplate]="labelTemplate"></mbsc-eventcalendar>

<ng-template #eventTemplate let-data>
    <div>{{data.original.user.label}}</div>
    <div>{{data.original.title}}</div>
</ng-template>

<ng-template #labelTemplate let-data>
    <div class="font-semibold" [ngStyle]="{background: data.original.color}">
      {{data.original.title}} - {{data.original.user.label}}
    </div>
  </ng-template>