<mbsc-eventcalendar [data]="myEvents" [options]="eventSettings"
    [(selectedDate)]="calendarSelectedDate"></mbsc-eventcalendar>
<mbsc-popup [options]="popupOptions" [anchor]="popupAnchor" [buttons]="popupButtons" [headerText]="popupHeaderText"
    #editEventPopup>
    <div class="mbsc-form-group">
        <mbsc-input label="Activité" [(ngModel)]="popupEventTitle"></mbsc-input>
        <mbsc-textarea label="Description" [(ngModel)]="popupEventDescription"></mbsc-textarea>
        <mbsc-dropdown [(ngModel)]="popupActivity" label="Activité" id="activity-selection">
            <option hidden disabled selected value="0">Sélectionner une activité</option>
            @for (activity of activityTypeList; track $index)
            {
                <option [ngValue]="activity">{{activity.label}}</option>
            }

        </mbsc-dropdown>

        @if(isEdit){
        <div class="mbsc-button-group">
            <mbsc-button class="mbsc-button-block" color="primary" (click)="saveEvent()">Enregistrer</mbsc-button>

            <mbsc-button class="mbsc-button-block" color="danger" variant="outline"
                (click)="onDeleteClick()">Supprimer</mbsc-button>
        </div>
        }
    </div>
    <!-- <div class="mbsc-form-group">
        <mbsc-switch label="All-day" [(ngModel)]="popupEventAllDay"></mbsc-switch>
        <mbsc-datepicker [(ngModel)]="popupEventDates" [options]="datePickerOptions"
            [controls]="popupEventAllDay ? datePickerControls : datetimePickerControls"
            [responsive]="popupEventAllDay ? datePickerResponsive : datetimePickerResponsive" [startInput]="startInput"
            [endInput]="endInput"></mbsc-datepicker>
        <mbsc-input #startInput label="Starts"></mbsc-input>
        <mbsc-input #endInput label="Ends"></mbsc-input>

        <div id="travel-time-group" *ngIf="!popupEventAllDay">
            <mbsc-dropdown [(ngModel)]="popupTravelTime" label="Travel time" id="travel-time-selection">
                <option value="0">None</option>
                <option value="5">5 minutes</option>
                <option value="15">15 minutes</option>
                <option value="30">30 minutes</option>
                <option value="60">1 hour</option>
                <option value="90">1.5 hours</option>
                <option value="120">2 hours</option>
            </mbsc-dropdown>
        </div>

        <div class="event-color-c" (click)="openColorPicker($event)">
            <div class="event-color-label">Color</div>
            <div class="event-color" [ngStyle]="{background: selectedColor}"></div>
        </div>
        <mbsc-segmented-group [(ngModel)]="popupEventStatus">
            <mbsc-segmented value="busy">Show as busy</mbsc-segmented>
            <mbsc-segmented value="free">Show as free</mbsc-segmented>
        </mbsc-segmented-group>
        <div *ngIf="isEdit" class="mbsc-button-group">
            <mbsc-button class="mbsc-button-block" color="danger" variant="outline" (click)="onDeleteClick()">Delete
                event </mbsc-button>
        </div>
    </div> -->
</mbsc-popup>